
<div class="row ms-5 mt-5">

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <img src="assets/vectors/card3.png" alt="card" style="width: 80px; height: 80px;" >
            <h5 class="card-title">7 طلبات جديدة </h5>
            <p class="card-text">خدمات قانونية</p>
            <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/searchCard.png" alt=""> 3 طلبات تحت المراجعة </a>
        </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <img src="assets/vectors/Frame 188.png" alt="card" style="width: 80px; height: 80px;" >
            <h5 class="card-title">3 طلبات جديدة </h5>
            <p class="card-text">عروض أسعار</p>
            <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/searchCard.png" alt=""> 3 طلبات تحت المراجعة </a>
        </div>
        </div>
      </div>


    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <img src="assets/vectors/frame2.png" alt="card" style="width: 80px; height: 80px;" >
          <h5 class="card-title">12 طلبات جديدة </h5>
          <p class="card-text">ردود مستشار</p>
          <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/searchCard.png" alt=""> 3 طلبات تحت المراجعة </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <img src="assets/vectors/frame4.png" alt="card" style="width: 80px; height: 80px;" >
            <h5 class="card-title">9 طلبات جديدة </h5>
            <p class="card-text">تحديد جلسة</p>
            <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/searchCard.png" alt="">  3 طلبات تحت المراجعة </a>
        </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <img src="assets/vectors/frame3.png" alt="card" style="width: 80px; height: 80px;" >
            <h5 class="card-title">8 طلبات جديدة </h5>
            <p class="card-text">انتهاء وكالة</p>
            <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/searchCard.png" alt=""> 3 طلبات تحت المراجعة </a>
        </div>
        </div>
      </div>

   

  </div>