<div class="sidebar">
    <a href="/index.html"><img class="img-fluid py-4" id="logo" src="/assets/images/logo.png" alt="logo"></a> 
    
     <div class="home">
         <img class="img-fluid" src="/assets/vectors/HomeVector.png" alt="HomeIcon">
         <a  href="/index.html"  class="mt-2 me-2"> الصفحة الرئيسية</a>
     </div>
     
     <div class="btn-group-vertical">
         <button  class="btn mt-5" data-bs-toggle="collapse" data-bs-target="#demo">الخدمات القانونية<i class="fa fa-arrow-circle-o-down"></i></button>
             <div id="demo" class="collapse">
                     <div class="list-group">
                         <li class="list-group-item"> 
                              <a class="listA" id="derasatPage" type="button" routerLink="/Studies"  routerLinkActive="active">الدراسات <img src="assets/vectors/logout.png" alt="logout"></a>
                         </li>
                         
                         <li class="list-group-item">
                             <a class="listA"  id="khadmatPage" routerLink="/Services"  routerLinkActive="active"> القضايا <img src="assets/vectors/logout.png" alt="logout"> </a>
                         </li>
                         <li class="list-group-item">
                             <a class="listA" id="agentsPage" routerLink="/Agents"  routerLinkActive="active">الوكلاء <img src="assets/vectors/logout.png" alt="logout"> </a>
                         </li>

                         <li class="list-group-item">
                            <a class="listA" id="consulting" routerLink="/Consulting"  routerLinkActive="active"> الاستشارات<img src="assets/vectors/logout.png" alt="logout"></a>
                        </li>

                         <li class="list-group-item">
                             <a class="listA" id="sessionPage" routerLink="/Sessions"  routerLinkActive="active">الجلسات <img src="assets/vectors/logout.png" alt="logout"> </a>
                         </li>
                        
                     </div>
                 </div>
     
         <button class="btn mt-4" data-bs-toggle="collapse" data-bs-target="#demo1">إدارة العمل <i class="fa fa-arrow-circle-o-down"></i></button>
         <div id="demo1" class="collapse">
             <div class="list-group">
                 <li class="list-group-item"> 
                      <a class="listA" id="addClientData" routerLink="/AddClientData"  routerLinkActive="active">إضافة بيانات عميل <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                 
                 <li class="list-group-item">
                     <a class="listA" id="clientsData" routerLink="/ClientsData"  routerLinkActive="active">بيانات العملاء <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                
                 <li class="list-group-item">
                     <a class="listA" href="#">دفعات العميل <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                
             </div>
         </div>
         
         <button class="btn mt-4" data-bs-toggle="collapse" data-bs-target="#demo2">إدارة المهام <i class="fa fa-arrow-circle-o-down"></i></button>
         <div id="demo2" class="collapse">
             <div class="list-group">
                 <li class="list-group-item"> 
                      <a class="listA" id="taskManage" routerLink="/ManageTask"  routerLinkActive="active">إدارة المهام <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                 
                 <li class="list-group-item">
                     <a class="listA" id="addTasks" routerLink="/AddTask"  routerLinkActive="active">إضافة مهمة <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                 <li class="list-group-item">
                     <a class="listA" id="taskSummary" routerLink="/TaskSummary"  routerLinkActive="active">داش المهام <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
             </div>
         </div>
         
         <button class="btn mt-4" data-bs-toggle="collapse" data-bs-target="#demo3">الإعدادات <i class="fa fa-arrow-circle-o-down"></i></button>
         <div id="demo3" class="collapse">
             <div class="list-group">
                 <li class="list-group-item"> 
                      <a class="listA" id="addUser" routerLink="/AddUsers"  routerLinkActive="active">إضافة متسخدم <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                 
                 <li class="list-group-item">
                     <a class="listA" id="usersAuth" routerLink="/UserAuth"  routerLinkActive="active" >صلاحيات المستخدمين <img src="assets/vectors/logout.png" alt="logout"> </a>
                 </li>
                 <li class="list-group-item">
                     <a class="listA" id="metafiles" routerLink="/MetaFiles"  routerLinkActive="active">ملفات التعريف <img src="assets/vectors/logout.png" alt="logout"></a>
                 </li>
             </div>
         </div>
             <button class="btn mt-4" data-bs-toggle="collapse" data-bs-target="#demo4">استعلامات وتقراير <i class="fa fa-arrow-circle-o-down"></i> </button>
             <div id="demo4" class="collapse">
                 <div class="list-group">
                     <li class="list-group-item"> 
                          <a class="listA" routerLink="/SessionsReport"  routerLinkActive="active">الجلسات<img src="assets/vectors/logout.png" alt="logout"> </a>
                     </li>
                     
                     <li class="list-group-item">
                         <a class="listA" routerLink="/CustomersReport"  routerLinkActive="active">تقرير العملاء <img src="assets/vectors/logout.png" alt="logout"> </a>
                     </li>
                     <li class="list-group-item">
                         <a class="listA" routerLink="/ServicesReport"  routerLinkActive="active">تقرير الخدامات <img src="assets/vectors/logout.png" alt="logout"> </a>
                     </li>
                    
                 </div>
             </div>
     </div>
      
     <div class="logout">
         <img class="img-fluid mt-2" src="assets/vectors/outbtn.png" alt="HomeIcon">
         <a href="#logout" class="mt-2"> تسجيل الخروج</a>
     </div>

   </div>
     <!-- End Of Navbar -->
