
<h3 class="welcomeText mt-5 me-3">عدد ملفات النظام</h3>
<span class="badge rounded-pill me-5" style="
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    color: #D3AC67;
    width: 128px;
    height: 42px;
    background-color: #F9F5FF;
    border-radius: 16px;">5 ملفات</span>

<div class="box mt-5">
    <div class="row mt-3 px-5">
        <h4 class="mb-3">ملفات نوع القضية</h4>
        <div class="col-3 derasaSearch">
            <form action="" class="inline" >
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب رمز القضية"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب نوع القضية"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-5">
            <button id="addQadyia" class="btn addBtn" ><img src="/assets/vectors/addIcon.png" alt="addIcon"> إضغط لإضافة نوع قضية </button>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>رمز القضية</th>
                    <th>نوع القضية</th>
                    <th>تعديل البيانات</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let it of issueType | searchFilter: searchText">
                    <td>{{it.lokupId}}</td>
                    <td>{{it.lokupValue}}</td>
                    <td class="text-center">
                        <a type="button" class="edit " title="Delete" data-toggle="tooltip"><img
                                src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                                <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                                <ng-template #template>
                                  <div class="modal-body text-center">
                                    <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                                    <button type="button" class="btn btn-danger" (click)="deleteUser(it.lokupId)" >نعم انا متأكد !</button>
                                    <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                                  </div>
                             </ng-template>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box mt-5">
    <div class="row mt-3 px-5">
        <h4 class="mb-3">ملفات حالة القضية</h4>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب رمز القضية" [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب حالة القضية" [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-5">
            <button id="addStatus" class="btn addBtn"><img src="/assets/vectors/addIcon.png" alt="addIcon">إضغط لإضافة حالة لقضية</button>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>رمز القضية</th>
                    <th>حالة القضية</th>
                    <th>تعديل البيانات</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let is of issueStatus | searchFilter: searchText">
                    <td>{{is.lokupId}}</td>
                    <td>{{is.lokupValue}}</td>
                    <td class="text-center">
                        <a type="button" class="edit " title="Delete" data-toggle="tooltip"><img
                                src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                                <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                                <ng-template #template>
                                  <div class="modal-body text-center">
                                    <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                                    <button type="button" class="btn btn-danger" (click)="deleteUser(is.lokupId)" >نعم انا متأكد !</button>
                                    <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                                  </div>
                             </ng-template>
                    </td>

                </tr>
              
            </tbody>
        </table>
    </div>
</div>

<div class="box mt-5">
    <div class="row mt-3 px-5">
        <h4 class="mb-3">أنواع العقد</h4>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب رمز العقد"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب نوع العقد"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-5">
            <button id="addContract" class="btn addBtn"><img src="/assets/vectors/addIcon.png" alt="addIcon">إضغط لإضافة نوع العقد</button>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>رمز العقد</th>
                    <th>نوع العقد</th>
                    <th>تعديل البيانات</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ct of contractType | searchFilter: searchText">
                    <td>{{ct.lokupId}}</td>
                    <td>{{ct.lokupValue}}</td>
                    <td class="text-center">
                        <a type="button" class="edit " title="Delete" data-toggle="tooltip"><img
                                src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                                <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                                <ng-template #template>
                                  <div class="modal-body text-center">
                                    <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                                    <button type="button" class="btn btn-danger" (click)="deleteUser(ct.lokupId)" >نعم انا متأكد !</button>
                                    <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                                  </div>
                             </ng-template>
                    </td>

                </tr>
               
            </tbody>
        </table>
    </div>
</div>

<div class="box mt-5">
    <div class="row mt-3 px-5">
        <h4 class="mb-3">الخدمات</h4>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب رمز الخدمة"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب نوع الخدمة"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-5">
            <button id="addService" class="btn addBtn"><img src="/assets/vectors/addIcon.png" alt="addIcon">إضغط لإضافة الخدمة</button>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>رمز الخدمة</th>
                    <th>نوع الخدمة</th>
                    <th>تعديل البيانات</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of serviceType | searchFilter: searchText">
                    <td>{{st.lokupId}}</td>
                    <td>{{st.lokupValue}}</td>
                    <td class="text-center">
                        <a type="button" class="edit " title="Delete" data-toggle="tooltip"><img
                                src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                                <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                                <ng-template #template>
                                  <div class="modal-body text-center">
                                    <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                                    <button type="button" class="btn btn-danger" (click)="deleteUser(st.lokupId)" >نعم انا متأكد !</button>
                                    <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                                  </div>
                             </ng-template>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="box mt-5">
    <div class="row mt-3 px-5">
        <h4 class="mb-3">المستخدمين</h4>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب رمز المستخدم"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-3 derasaSearch">
            <form action="" class="inline">
                <input type="text" class=" form-control form-control-lg" placeholder="اكتب صلحيةالمستخدم"  [(ngModel)]="searchText" name="agenceName">
            </form>
        </div>
        <div class="col-5">
            <button id="addService" class="btn addBtn"><img src="/assets/vectors/addIcon.png" alt="addIcon">إضغط لإضافة صلحية جديدة</button>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>رمز المستخدم</th>
                    <th>صلحية المستخدم</th>
                    <th>تعديل البيانات</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ur of userRoles | searchFilter: searchText">
                    <td>{{ur.lokupId}}</td>
                    <td>{{ur.lokupValue}}</td>
                    <td class="text-center">
                        <a type="button" class="edit " title="Delete" data-toggle="tooltip"><img
                                src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                                <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                                <ng-template #template>
                                  <div class="modal-body text-center">
                                    <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                                    <button type="button" class="btn btn-danger" (click)="deleteUser(ur.lokupId)" >نعم انا متأكد !</button>
                                    <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                                  </div>
                             </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
