<div class="box mt-5">
    <h3 class="welcomeText me-3">قسم الإستشارات</h3>

    <div class="row mt-3 px-5">
       <div class="col-3">
           <h4>عدد الإستشارات</h4>
           <span class="badge rounded-pill"> إستشارات {{TotalConsutlings}}</span>
       </div>

       <div class="col-4 derasaSearch">
        <form action="" class="inline">
            <a type="button"><img  src="/assets/vectors/searchCard.png" alt="searchBar"></a>
            <input type="text" class=" form-control" placeholder="البحث برقم الاستشارة" [(ngModel)]="searchText" name="agenceName">
        </form>
    </div>
       
       <div class="col-5">
           <button id="addNewConstulting" class="btn addBtn"  routerLink="/AddConsulting"  routerLinkActive="active"><img src="/assets/vectors/addIcon.png" alt="addIcon"> إضغط لإضافة إستشارة جديدة</button>
       </div> 
    </div>

    <div class="container">
       <table class="table table-bordered text-center">
           <thead>
             <tr>
               <th>رقم الإستشارة</th>
               <th>اسم الإستشارة</th>
               <th>نوع الاستشارة</th>
               <th>اسم العميل</th>
               <th>تعديل البيانات</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let con of consultings | searchFilter: searchText">
               <td>{{con.consuultingId}}</td>
               <td>{{con.constSubject}}</td>
               <td>{{con.lokupValue}}</td>
               <td>{{con.custName}}</td>
               <td class="text-center">  
                   <a type="button" class="edit " title="edit" data-toggle="tooltip" [routerLink]="['/EditConsulting',con.consuultingId]"  routerLinkActive="active"><img src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                   <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                   <ng-template #template>
                     <div class="modal-body text-center">
                       <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                       <button type="button" class="btn btn-danger" (click)="deleteConsult(con.consuultingId)" >نعم انا متأكد !</button>
                       <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                     </div>
                   </ng-template>
               </td>
             </tr>
           </tbody>
         </table>
    </div>
</div>