<div class="box mt-5">
    <h3 class="welcomeText me-3">القسم الخاص بالمستخدمين</h3>

    <div class="row mt-3 px-5">
       <div class="col-3">
           <h4>عدد المستخدمين</h4>
           <span class="badge rounded-pill">{{TotalUsers}} مستخدمين</span>
       </div>
       <div class="col-4 derasaSearch">
           <form action="" class="inline">
               <a type="button"><img  src="/assets/vectors/searchCard.png" alt="searchBar"></a>
               <input type="text" class=" form-control" placeholder="البحث برقم المستخدم"  [(ngModel)]="searchText" name="agenceName">
           </form>
       </div>
       <div class="col-5">
           <button id="addAgent" class="btn addBtn" routerLink="/AddUsers"  routerLinkActive="active"><img src="/assets/vectors/addIcon.png" alt="addIcon"> إضغط لإضافة مستخدم جديدة</button>
       </div> 
    </div>

    <div class="container">
       <table class="table table-bordered text-center">
           <thead>
             <tr>
               <th>رقم المستخدم</th>
               <th>اسم المستخدم </th>
               <th>البريد الاكنروني</th>
               <th>الصلحية</th>
               <th>تعديل البيانات</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let user of users | searchFilter: searchText">
               <td>{{user.userId}}</td>
               <td>{{user.name}}</td>
               <td>{{user.username}}</td>
               <td>{{user.lokupValue}}</td>
               <td class="text-center">  
                   <a type="button" class="edit " title="Delete" data-toggle="tooltip" [routerLink]="['/EditUser',user.userId]"  routerLinkActive="active"><img src="/assets/vectors/editIcon.png" alt="editIcon"></a>
                   <a type="button" class="delete me-5" title="Delete" (click)="openModal(template)" data-toggle="tooltip"><img src="/assets/vectors/deleteIcon.png" alt="deleteIcon"></a>
                   <ng-template #template>
                     <div class="modal-body text-center">
                       <p>هل أنت متأكد من أنك تريد الحذف ؟</p>
                       <button type="button" class="btn btn-danger" (click)="deleteUser(user.userId)" >نعم انا متأكد !</button>
                       <button type="button" class="btn btn-default" (click)="decline()" >لا</button>
                     </div>
                   </ng-template>
               </td>
             </tr>
           </tbody>
         </table>
    </div>
</div>
