<h3 class="welcomeText me-3 mt-3">إدارة المهام</h3>
       
<div class="row mt-5 px-3">

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <img src="assets/vectors/card3.png" alt="card" style="width: 80px; height: 80px;" >
            <h5 class="card-title">{{TotalIssues}} إجمالي القضايا</h5>
            <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/abortIcon.png" alt=""> {{PendingIssues}}  طلبات قيد المراجعة </a>
            <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/done.png" alt=""> {{doneIssueStatus}}  طلبات إنتهت</a>
        </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <img src="assets/vectors/frame5.png" alt="card" style="width: 80px; height: 80px;" >
              <h5 class="card-title">{{TotalTasks}} إجمالي المهام</h5>
              <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/abortIcon.png" alt=""> {{PendingTasks}} طلبات قيد المراجعة </a>
              <a href="#" class="btn stretched-link"> <img class="searchCardImg" src="assets/vectors/done.png" alt=""> {{doneTaskStatus}} طلبات إنتهت</a>
        </div>
        </div>
      </div>
  
</div>


<div class="box mt-4">
 <div class="container">
    <table class="table table-borderless">
        <thead >
          <tr>
            <th class="leftTable">رقم القضية</th>
            <th class="leftTable">المشروع</th>
            <th class="leftTable">التقدم</th>
            <th class="leftTable">الحالة</th>
          </tr>
        </thead>
     
        <tbody>
          <tr  *ngFor="let issue of issues">
            <td>{{issue.isuueId}}</td>
            <td>{{issue.isuueSubject}}<p class="dateInfo">من {{issue.isuueOpenDate | date}}</p></td>
            <td>
                <div class="progress">
                    <div class="progress-bar bg-warning-custom" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-1">40% انتهت من المشروع</p> 
            </td>
            <td><span [ngClass]="getStatusesClass(issue.isuueStatus)" class="badge rounded-pill statusPill"><p class="text-center mt-2">{{issue.lokupValue}}</p> </span></td>
          </tr>
        </tbody>
      </table>
 </div>
</div>
