
      
        <h3 class="welcomeText me-3 mt-3">قائمة المهام</h3>
       
        <div class="row mt-5 px-3">
          <h4>عدد المهام</h4>
           <div class="col-4">
               <div class="form-group">
                <select id="Case" class="form-select">
                    <option selected>اختر عدد المهام</option>
                    <option value="1">5  مهام</option>
                    <option value="2">10 مهام</option>
                    <option value="3">15 مهام</option>
                </select>
            </div>
           </div>
           <div class="col-8 derasaSearch">
               <form action="" class="inline">
                   <a type="button"><img  src="/assets/vectors/searchCard.png" alt="searchBar"></a>
                   <input type="text" class=" form-control form-control-lg" placeholder="البحث برقم المهمة" [(ngModel)]="searchText" name="agenceName" >
               </form>
           </div>
        </div>
  

  <div class="box mt-4">
         <div class="container">
            <table class="table table-borderless text-center">
                <thead>
                  <tr>
                    <th>العدد<br><span class="badge rounded-pill me-2">{{TotalTasks}}</span><hr></th>
                    <th>وصف المهمة</th>
                    <th><img class="ms-1" src="/assets/vectors/calendar.png" alt="calendar"> من تاريخ</th>
                    <th ><img class="ms-1" src="/assets/vectors/calendar.png" alt="calendar"> الي تاريخ</th>
                    <th>حالة القضية</th>
                    <th>التفدم %</th>
                  </tr>
                </thead>
             
                <tbody>
                  <tr *ngFor="let task of tasks | searchFilter: searchText">
                    <td>المهمة<br><span class="badge rounded-pill me-2">{{task.taskId}}</span><hr></td>
                    <td>  {{task.title}}
                      <p class="secondaryText"> {{task.description}}
                       </p>
                    </td>
                    <td>{{task.projectedStart | date : "longDate"}}</td>
                    <td>{{task.projectedEnd | date:"longDate"}} </td>
                    <td >حالة المهمة <br><span [ngClass]="getStatusesClass(task.taskStatus)" class="badge rounded-pill  statusPill me-2"><p class="text-center mt-2">{{task.lokupValue}}</p> </span></td>
                    <td>التقدم %<br>
                      <div class="progress" style="width: 90%;">
                        <div class="progress-bar  bg-warning-custom" role="progressbar" [ngStyle]="{'width':task.taskProgress | percent}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="text-center mt-2">{{task.taskProgress | percent}}</p>
                    </td>
                   
                  </tr>
                </tbody>
              </table>
         </div>
    </div>