<div class="box mt-5">
    <div class="container">
        <h4>إضافة وكالة جديدة</h4>

      
            <div class="row">
                <div class="form-group col-6">
                    <label for="case">القضية <span>*</span></label>
                    <select id="Case" class="form-select form-select-lg">
                        <option selected>اختر نوع القضية</option>
                        <option value="1">عمالية</option>
                        <option value="2">جنائية</option>
                        <option value="3">تجارية</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="agentNo">رقم التوكيل</label>
                    <input type="text" class="form-control  form-control-lg" id="AgentNo" placeholder="من فضلك ادخل رقم التوكيل">
                </div>
               
                <div class="form-group col-6">
                    <label for="agentDeadline">نهاية التوكيل <span>*</span></label>
                    <input type="date" class="form-control  form-control-lg" id="agentDeadline" placeholder="يوم/شهر/سنة"
                        style="background-color: #F5F5F5;">
                </div>
                <div class="form-group col-6">
                    <label for="qadyiaNumber">تعريف الوكالة</label>
                    <input type="text" class="form-control  form-control-lg" id="QadyiaNumber" placeholder="من فضلك ادخل رقم القضية">
                </div>
                <div class="form-group col-6">
                    <label for="qadyiaNumber">ملخص التوكيل</label>
                    <input type="text" class="form-control  form-control-lg" id="QadyiaNumber" placeholder="من فضلك ادخل رقم القضية">
                </div>
                <div class="form-group col-6">
                    <label for="case">تصنيف الوكيل</label>
                    <select id="Case" class="form-select form-select-lg">
                        <option selected>اختر تصنيف الوكيل</option>
                        <option value="1">عمالية</option>
                        <option value="2">جنائية</option>
                        <option value="3">تجارية</option>
                    </select>
                </div>


                <div class="form-group mt-5">
                    <div class="col-6">
                      <button type="submit" class="btn btn-lg submitBtn form-control"><img src="/assets/vectors/saveIcon.png" alt="saveIcon"> حفظ بيانات الوكالة</button>
                    </div>
        
            </div>

    </div>

</div>