
  .welcomeText{
    font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-align: right;
  /* identical to box height, or 150% */
  letter-spacing: -0.002em;
  }
  
  
  
    
   